@font-face{
    font-family: "iNked God";
    src: url("../fonts/iNked\ God.ttf") format("truetype");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    background-color: transparent !important;
    box-shadow: none;
    font-family: 'iNked God';
      
  
}
nav li a{
    font-size: 2.5rem;

}
.container{
    margin: 0 auto;
    text-align: center;
}
nav ul :hover{
    color: rgb(40,128,124);
}

.container #main-image{
    border-radius: 100px;
}
.container .card-content{
    background: rgb(24, 24, 24);
   
}
.container .card{
    height: 500px;
    background: rgb(24, 24, 24);
}
/*Mouse over on cards */

.container .card img:hover{
    background: rgba(0,0,0,.5);
    opacity: 0.7;
}
.container .card .card-title:hover{
    transform: translateY(-15%);
}


/*End of mouse over */
.container .card p{
    text-align: left;
    font-size: 1.1rem;
    margin-right: 2px;
}

.container h4{
    font-family: 'iNked God';
}
.mobile-cards h5{
    position: absolute;
    
}
.container h4{
    font-size: 1.5rem;
}
.mobile-cards img {
    width: 100%;
}
.mobile-cards .card{
    display: contents;
}
.mobile-cards .card img{
    height: 80px;
    width: 300px
}
.mobile-cards span{
    font-family: 'iNked God';
    position: absolute;
    right: 40px;
}



@media only screen and (min-width:1440px) {
   .mobile-cards{
       display: none;
   }
}

@media only screen and (max-width: 600px) {
    .container .card{
        display: none;
    }
    .container .mobile-cards{ 
        display: contents;
    }
  }

  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    nav li a{
        font-size: 1.4rem;
    
    }
  }


@media only screen and (max-width: 1024px){
    .mobile-cards{
        display: none;
    }
}
@media only screen and (max-width: 1492px){
    nav li a{
        font-size: 1.5rem;
    
    }
}


